<div class="sidebar" data-color="purple" data-image="static/img/sidebar-5.jpg">
  
      <!--
  
          Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
          Tip 2: you can also add an image using data-image tag
  
      -->
  
        <div class="sidebar-wrapper">
              <div class="logo">
                  <a href="/" class="simple-text">
                      Article Bits
                  </a>
              </div>
  
              <ul class="nav">
                  <li class="active">
                      <a href="/dashboard">
                          <i class="pe-7s-graph"></i>
                          <p>Dashboard</p>
                      </a>
                  </li>
  
                  <li><a href='/politics'><i class="pe-7s-angle-right-circle"></i><p>Random</p></a></li>
                  <li><a href='/topstories'><i class="pe-7s-angle-right-circle"></i><p>Top Stories</p></a></li>
                  <li><a href='/world'><i class="pe-7s-angle-right-circle"></i><p>World</p></a></li>
                  <li><a href='/us'><i class="pe-7s-angle-right-circle"></i><p>United States</p></a></li>
                  <li><a href='/technology'><i class="pe-7s-angle-right-circle"></i><p>Technology</p></a></li>
                  <li><a href='/health'><i class="pe-7s-angle-right-circle"></i><p>Health</p></a></li>
                  <li><a href='/business'><i class="pe-7s-angle-right-circle"></i><p>Business</p></a></li>
                  <li><a href='/science'><i class="pe-7s-angle-right-circle"></i><p>Science</p></a></li>
                  <li><a href='/asia'><i class="pe-7s-angle-right-circle"></i><p>Asia</p></a></li>
                  <li><a href='/europe'><i class="pe-7s-angle-right-circle"></i><p>Europe</p></a></li>
                  <li><a href='/middleeast'><i class="pe-7s-angle-right-circle"></i><p>Middle East</p></a></li>
                  <li><a href='/finance'><i class="pe-7s-angle-right-circle"></i><p>Finance</p></a></li>
                  <li><a href='/lifestyle'><i class="pe-7s-angle-right-circle"></i><p>Lifestyle</p></a></li>
                  <li><a href='/sports'><i class="pe-7s-angle-right-circle"></i><p>Sports</p></a></li>
                  <li><a href='/environment'><i class="pe-7s-angle-right-circle"></i><p>Environment</p></a></li>
                  <li><a href='/politics'><i class="pe-7s-angle-right-circle"></i><p>Politics</p></a></li>
              </ul>
        </div>
      </div>