{% extends 'layout.html' %}

{% block body %}
<div class="main-panel">
  
  {% include 'includes/_topnavbar.html' %}

  <div class="content">
    <h1>Developer Notes</h1>
    <p>This is where we will update you for this site. Current notes.</p>
    <ul>
      <li>Still in First round testing. Therefore if you detect an issue on any platform, please feel free to contact us.</li>
      <li>User accounts are something in progress, only because it would allow for better customization for individuals. However we're trying to decide what sort of data would be needed for customization and what details would be needed in case a user forgot their password.</li>
      <li>We might experiment with having a user account with a pin number.</li>
    </ul>
    <hr>
  </div>
  <hr>
</div>
{% endblock %}
