{% extends 'layout.html' %}

{% block body %}
<div class="main-panel">
  
  {% include 'includes/_topnavbar.html' %}

  <div class="content">
    <h1>Newspaper Dashboard</h1>
    <p>Welcome to Article Bits. A Newspaper aggregation, summarization tool that tries to gather and give users a well rounded experience regarding an event or news item. Click on any news story and get a summarized version of the article, definitions from key words/phrases that you might not know, as well as a list of other articles from different source on the same subject. We believe that this will allow you to get a better well rounded experience and understanding of a subject.</p>
  </div>
</div>
{% endblock %}
