{% extends 'layout.html' %}

<!-- Where NavBar -->
{% block body %}
<div class="main-panel">
    
    {% include 'includes/_topnavbar.html' %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion">
                          <div class="panel panel-default">
                            {% for company in companies if company %}
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href={{"#"+category+"-"+company}}>{{company}}</a>
                                </h4>
                              </div>
                              <div id={{category+"-"+company}} class="panel-collapse collapse ">
                                <div class="panel-body">
                                  <table class="table">
                                  {% for article in env[company] if env[company]%}
                                    <tr>
                                      <td>
                                        <a href="/{{category}}/{{ article }}#articlestart" class="list-group-item">{{ env[company][article] }}</a>
                                      </td>
                                    </tr>
                                  {% endfor %}
                                  </table>
                                </div>
                              </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>

                  </div>
            </div>
        </div>

        {% include 'includes/_footer.html' %}

    </div>
    
{% endblock %}